<label for="create-key-wrong" class="control-label">Enter Wrong Key Data</label>
<input type="text" id="create-key-wrong" class="form-control" name="key" value="{{key}}" placeholder="Enter wrong key data">
<input type="text" id="create-value-wrong" class="form-control" name="data" value="{{data}}" placeholder="Enter wrong point value">