<label for="create-key-correct" class="control-label">Enter correct Key Data</label>
<input type="text" id="create-key-correct" class="form-control" name="key" value="{{key}}" placeholder="Enter correct key data">
<input type="text" id="create-value-correct" class="form-control" name="data" value="{{data}}" placeholder="Enter correct point value">